# 가상환경 및 패키지
venv/
.venv/
env/
lib/
lib64/
bin/
include/

# 대용량 raw 데이터셋 (GitHub 업로드 방지)
kbo_data/*
!kbo_data/*.csv

# 파이썬 컴파일 파일
__pycache__/
*.py[cod]
*$py.class

# OS 및 시스템 쓰레기 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 에디터 설정
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
